header{
      display: flex;
      justify-content: center;
      background-color: black;
      color: white;
}

.titulo{
      color: white;
}

.navbar{
      display: flex;
      justify-content: space-between;
      background-color: #000000 !important;
      color: white !important;
}

.linksNav{
      display: flex;
      flex-direction: row;
}

.botonesBusqueda{
      display: flex;
      justify-content: flex-start;
}

.btn{
      color: white;
}

.btnNav:hover{
      color: red;
}

.btn-filtro:hover{
      color: red;
}

.btn-filtro{
      color: black;
}

.btn-carrito{
      background-color: white;
      color: black;
      border-color: white;
}

.card-body{
      display: flex !important;
      flex-direction: column;
      justify-content: center !important;
      height: 150px;
      text-align: left !important;
      align-items: center;
}

.card-text{
      padding-left: 20px;
      margin-bottom: 0px !important;
      padding-top: 20px;
}

.card-title{
      margin-bottom: 0px;
      padding-left: 20px;
      padding-top: 10px;
}

/* Seccion detalle */

.verDetalle{
      display: flex;
      justify-content: space-between;
}

.verDetalle :hover{
      cursor: pointer;
}

.imagen{
      width: 60%;
      display: flex;
      justify-content: center;
}

.imagenGrande{
      width: 300px;
      height: 400px;
}

.seccionComprar{
      display: flex;
      flex-direction: column;
      width: 40%;
      border: 1px solid black;
      justify-self: right;
      padding: 50px;
}

/* -------- */

.divProductos{
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
}

.btnCompra{
      width: 100px;
      align-self: center;
}

.card{
      width: 14rem;
      height: 22rem;
      padding-top: 20px;
}

.card-img-top{
      height:200px; 
      width:180px;
      align-self: center;
}


.divProductos{
      display: flex;
      flex-wrap: wrap;
}

.header{
      text-align: center;
}

.interfaz{
      display: flex;
      justify-content: center;
}

.form-login{
      width: 500px; 
}


